# Gitlab Integration Pack

StackStorm integration pack for [GitLab](https://about.gitlab.com/).

# Quick Start

Install the pack

``` shell
st2 pack install gitlab
```

# Configuraton

The configuration for this pack is used to specify connection information for all Gitlab servers that StackStorm will connect to. The location for the config file is `/opt/stackstorm/configs/gitlab.yaml`. An example configuration located in the repo named [gitlab.yaml.example](./gitlab.yaml.example) can be copied to `/opt/stackstorm/configs/gitlab.yaml` and edited as required.

It should contain:

* `consul_profiles` - Mapping of name to an object containing Consul profile settings
  * `name` - Name of the consul profile
  * `url` - Consul server port. Default 8500
  * `token` - Consul API token
  * `verify` - Verify the SSL certificate for HTTPS requests. Default false (this option is ignored if ca_cert_path is supplied)


**Note** : When modifying the configuration in `/opt/stackstorm/configs/` please
           remember to tell StackStorm to load these new values by running
           `st2ctl reload --register-configs`

## Schema Examples

```yaml
---
gitlabinstance:
  dev:
    url: username@dev.domain.tld
    token: xxx
    verify_ssl: false
  prod:
    url: username@test.domain.tld
    token: xxx
    verify_ssl: false

```

## Actions

{% if actions | length > 0 %}
The pack provides the following actions:

| Action Name | Description |
|-------------|-------------|
{% for key, value in actions.items() -%}
| {{ value.name }} | {{ value.description }} |
{% endfor %}

### Action Details

{% for key, value in actions.items() -%}
### {{ value.name }}
_{{ value.description }}_

| Parameter | Type | Required | Secret | Description |
|---|---|---|---|---|
{% for p_key, p_value in value.parameters.items() -%}
| `{{ p_key }}` | {{ p_value.type | default("n/a") }} | {{ p_value.required | default("default") }} | {{ p_value.secret | default("default") }} | _{{ p_value.description | default("Unavailable") }}_ |
{% endfor -%}


{% endfor %}
{% else %}
There are no actions available for this pack.
{% endif %}

## Sensors
{% if sensors | length > 0 %}
The following sensors and triggers are provided:
{% for key, value in sensors.items() %}
### Class {{ value.class_name }}
_{{ value.description }}_

{% for trigger in value.trigger_types -%}
| Trigger Name | Description |
|---|---|
| `{{ trigger.name }}` | _{{ trigger.description | default("Unavailable") }}_ |
{% endfor %}


{% endfor %}
{% else %}
There are no sensors available for this pack.
{% endif %}
